<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>The Positive Birth Company</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,300' rel='stylesheet' type='text/css'>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link href="css/style.css" rel="stylesheet">
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>

    <script src="lib/angular-animate/angular-animate.js"></script>
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>


    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

  </head>
  <body ng-app="affirmations" ng-controller="MainCtrl as ctrl">

    <ion-pane>
      <ion-header-bar class="bar-stable slide header-bar" ng-if="hide">
        <h1 class="title" ng-click="ctrl.openLink('http://thepositivebirthcompany.co.uk/')">The Positive Birth Company</h1>
      </ion-header-bar>

      <div class="main-container" ng-click="hide=!hide">
        <ion-content scroll="false">
          <img id="dailyImg" src="{{ctrl.todaysPhoto}}"/>
        </ion-content>
      </div>

      <ion-footer-bar class="footer-bar bar-stable slide" ng-if="hide">
        <i class="ion ion-ios-download-outline" on-tap="ctrl.saveToPhotoAlbum()" name="button"></i>
        <ion-toggle class="toggle-button" ng-model="ctrl.notificationsOn" ng-change="ctrl.toggleNotifications()">Notifications</ion-toggle>
        <i class="ion ion-share" on-tap="ctrl.shareAnywhere()"></i>
      </ion-footer-bar>
    </ion-pane>
  </body>
</html>
