/* Empty. Add your own CSS if you like */

/* For when images are rectangular */

/*#dailyImg {
  display: block;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}*/


body {
  font-family: "Source Sans Pro";
}

.title {
  color: #24282d;
  font-family: "Source Sans Pro";
  font-size: 150% !important;
  font-weight: bold !important;
}

.bar.title {
  text-align: center;
}

.main-container {
  background-color: #fff;
  width: 100vw;
  height: 100vh;
}

.main-container img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/* Header bars */

.bar.bar-stable.header-bar {
  background-color: #fff;
  background-image: none;
  border-bottom: dashed 5px #e8e8e8;
}

/* Footer */

.footer-bar {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.ion {
  color: #24282d;
  font-size: 250%;
  margin: auto;
}

.item {
  border-color: transparent;
  background-color: transparent;
  color: #24282d;
}

.bar.bar-stable.footer-bar {
  background-color: #fff;
  background-image: none;
  border-top: dashed 5px #e8e8e8;
  height: 50px;
}

/* CSS Animations */

.slide.ng-enter {
  transition:0.2s linear all;
  opacity:0;
}

.slide.ng-enter.ng-enter-active {
  opacity:1;
}

.slide.ng-leave {
  transition:0.2s linear all;
  opacity:1;
}

.slide.ng-leave.ng-leave-active {
  opacity:0;
}
